.card {
    margin: 20px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

/* Funny Text Patterns */
.pattern-1 {
    background-color: #ffc107;
    color: #000;
}

.pattern-2 {
    background-color: #17a2b8;
    color: #fff;
}

.pattern-3 {
    background-color: #28a745;
    color: #fff;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

/* Add margin or padding to space out the images */
.image {
    margin: 10px; /* Adjust the margin as needed */
}